<div class="block">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src= <%= kitten.flickr_url  %> alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src= <%= kitten.flickr_url ? kitten.flickr_url : "https://bulma.io/images/placeholders/96x96.png"  %> alt="">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= kitten.name %></p>
          <p class="subtitle is-6"><%= kitten.softness %></p>
          <!--<p class="subtitle is-6"><%= @api_key %></p>-->
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <%= link_to 'Show', kitten, class: 'button is-success' %>
        <strong><%= link_to "Edit Kitten", edit_kitten_path(kitten), class: 'button is-info' %></strong>
        <strong><%= link_to "Delete Kitten", kitten_path(kitten), method: :delete, class: 'button is-danger' %></strong>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>

</div>

